* {
    box-sizing: border-box;
}

.aboutMe {
    text-align: center;
}

.navbar {
    position: fixed !important;
    z-index: 3 !important;
    width: 100%;
    top: 0;
    box-shadow: inset 7px 7px 10px 10px white;
    box-shadow: 3px 3px 6px 6px white;
}

.bg-black {
    background-color: aliceblue;
}

#slideShow {
    margin-top: 5%;
}

.shadow-lg {
    position: relative;
    z-index: 1;
}

.rounded {
    height: 25em;
    width: 25em;
}

.card {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    top: 18%;
    border-radius: 30px;
    font-size: 0.85em;
    max-width: 80%;
}

.card-img-top {
    position: relative;
    height: 400px;
    padding: 7px;
}

.slideImg {
    width: 100%;
    height: 78vh;
    margin: 0 auto;
    padding: 2%;
}

.title{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: inset 7px 7px 10px 10px white;
    box-shadow: 3px 3px 6px 6px white;
}

.footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:0;
    text-align: center;
    box-shadow: inset 7px 7px 10px 10px white;
    box-shadow: 3px 3px 6px 6px white;
}

@media (max-width: 1264px) {
    .card {
        top: 0;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .aboutMe {
        font-size: 1.3em;
    }
    #myName {
        font-size: 6em;
        padding-top: 20%;
        padding-bottom: 5%;
    }
    #myTitle {
        font-size: 2.3em;
    }
    .card {
        max-width: 100%;
    }
    .shadow-lg {
        margin-top: 20%;
    }
    .rounded {
        height: 18em;
        width: 18em;
    }
}

@media (max-width: 375px) {
    .card {
        font-size: 1em;
    }
    #myName {
        font-size: 1.5em;
        padding-top: 35%;
        padding-bottom: 20%;
    }
    #myTitle {
        font-size: 0.8em;
    }
    .aboutMe {
        font-size: .5em;
    }
    .rounded {
        height: 10em;
        width: 10em;
    }
}