* {
    box-sizing: border-box;
}

.bg-black {
    background-color: aliceblue;
}

.shadow-lg {
    height: 450px;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
    border-radius: 30px;
}

.rounded {
    padding: 50px;
    clear: none;
    display: visible;
    overflow: visible;
    position: absolute;
    z-index: 0;
    margin-top: 200px;
}

.card {
    position: relative;
    z-index: 2;
    float: right;
    margin: 200px;
    border-radius: 30px;
}

.container {
    text-align: center;
}

.image {
    height: 150px;
    width: 150px;
    float: left;
    margin: 2.7vw;
    margin-bottom: 5px;
}

@media (max-width: 1864px) {
    body {
        max-width: 1864px;
        width: 0 auto;
        height: 0 auto;
        margin: 0 auto;
    }
    .rounded {
        float: none;
        margin: 130px 25px;
    }
    .card {
        font-size: 0.8em;
        display: inline;
        max-width: 740px;
        margin: 90px 100px;
    }
    .image {
        Margin: 1vw;
    }
}

@media (max-width: 1264px) {
    body {
        max-width: 1264px;
    }
    .rounded {
        float: none;
        margin: 0 auto;
    }
    .card-body {
        font-size: 0.9em;
        max-width: 300px;
        height: 500px;
        margin: 0;
    }
    .card {
        max-width: 300px;
        height: 435px;
        margin-top: 15px;
    }
    .image {
        Margin: 2.5vw;
    }
}

@media (max-width: 768px) {
    body {
        max-width: 768px;
    }
    .card-body,
    .card {
        font-size: 0.8em;
        max-width: 400px;
        height: 400px;
        float: inline-start;
        margin-top: 30px;
        z-index: 1;
    }
    .shadow-lg {
        z-index: 0;
    }
    .rounded {
        opacity: 0.5;
        height: 400px;
        width: 350px;
    }
    .image {
        Margin: 3vw;
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 576px) {
    body {
        max-width: 576px;
        margin: 0 auto;
        width: 0 auto;
        height: 0 auto;
    }
    .rounded {
        display: none;
    }
    .shadow-lg {
        margin:0;
    }

    .card {
        text-align: center;
    }

}