* {
    box-sizing: border-box;
}

.navbar {
    position: fixed !important;
    z-index: 3 !important;
    width: 100%;
    top: 0;
    box-shadow: inset 7px 7px 10px 10px white;
    box-shadow: 3px 3px 6px 6px white;
}

.bg-black {
    background-color: aliceblue;
}

.shadow-lg {
    height: 440px;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
    border-radius: 30px;
}

.rounded {
    padding: 50px;
    clear: none;
    display: visible;
    overflow: visible;
    position: absolute;
    z-index: 0;
    margin-top: 200px;
    float: none;
    margin: 110px 30px;
    height: 350px; 
    width: 350px;

}

.card {
    position: relative;
    z-index: 2;
    float: right;
    margin: 90px 100px;
    border-radius: 30px;
    font-size: 0.85em;
    max-width: 700px;
    margin-top: 35px;
}

.image {
    float: left;
    position: relative;
    margin: 1vw;
    height: 200px;
    width: 200px;
    margin-top: 100px;
}



@media (max-width: 1264px) {
    body {
        max-width: 1240px;
    }

    .card {
        font-size: 0.85em;
        max-width: 700px;
        margin: 90px 100px;
        margin-top: 35px;
    }
    .image {
        margin: 1vw;
        height: 250px;
        width: 250px;
        margin-top: 100px;
    }
    .rounded {
        margin: 110px 20px;
        float: none;
        height: 350px; 
        width: 350px;
    }
}

@media (max-width: 768px) {
    body {
        max-width: 750px;
    }
    .card {
        font-size: 0.55em;
        max-width: 250px;
        height: 350px;
        margin: 90px 80px;
        margin-top:35px;
        z-index: 1;
     
    }
    .shadow-lg {
        z-index: 0;
    }
    .rounded {
        margin: 18px 0;
        width: 330px;

    }
    .image {
        margin: 2vw;
        margin-left: 65px;
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 576px) {

    .card {
        max-width: 200px;
        font-size: 0.45em;
    }

    .card-title {
        font-size:4em;
    }
    .rounded {
        opacity: 0.5;
        width: 230px;
        height:350px;

    }
    .image {
        margin: 1.8vw;
    }
}